.left {
  position: fixed;
  bottom: 140rpx;
  left: 20rpx;
  width: 60rpx;
  height: 60rpx;
}

.right {
  position: fixed;
  width: 60rpx;
  height: 60rpx;
  bottom: 140rpx;
  right: 20rpx;
}

.btn {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
