.information {
  width: 100%;
  height: 1000rpx;
  background: #eee;
}

.information .title {
  display: inline-block;
  padding: 20px;
}

.information .list {
  width: 100%;
  height: auto;
  background: #fff;
}

.information .list .itemlist {
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.information .list .itemlist .name {
  padding: 0 20px;
  color: #999999;
}

.information .list .itemlist input {
  margin-top: 21rpx;
  color: #999999;
  padding: 0 20px;
}

.information .textarea {
  width: 100%;
  height: 400rpx;
  background: #fff;
  margin-top: 20rpx;
}

.information .textarea .area {
  width: 90%;
  height: 300rpx;
  margin-left: 5%;
  border: 1px solid #ccc;
  margin-top: 20rpx;
}
